<h2> <%=@campaign.name%></h2><br/>
<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td> CHOICE  </td>
      <td > SCORES </td>
      <td >INVALID SCORES </td>
    </tr>                          
  <%@campaign_choice_logs.group_by {|ri| ri.choice.id}.each do |type, rec_items|%>

    <tr>
      <td >
        <%=Choice.find(type).name%>
      </td>
      <td>
      <%=raise rec_items.map(&:id).inspect%>
        <%=CampaignChoiceLog.scores(rec_items.map(&:id)).count%>
      </td>
     <td>                    
      <%#=CampaignChoiceLog.invalid_scores(rec_items.map(&:id)).count%>
      </td>
    </tr>
   <%end%>
 
 </table>
</div>
